<!-- templates/index.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron my-4 py-4">
        <h1 class="display-4">Welcome to My Site!</h1>
        <p class="lead">This is the homepage of your new Django project.</p>
        <hr class="my-4">
        <p>Use this page to navigate to other parts of your site and learn more about what you offer.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
{% endblock %}
