<!-- pdf_template.html -->
{% extends 'base.html' %}

{% block title %}Calculated Code Detail{% endblock %}

{% block content %}

    <div class="container">
        <h1>Item Details</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descriptions</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Is it Additive?:</td>
                    <td>{{ item.additive }}</td>
                </tr>
                <tr>
                    <td>Is it for Liquid Packaging or a Narrow Web?:</td>
                    <td>{{ item.liquied_narrow }}</td>
                </tr>
                <tr>
                    <td>What Additive Type or Industry Served?:</td>
                    <td>{{ item.additive_type }}</td>
                </tr>
                <tr>
                    <td>Material Group Code:</td>
                    <td>{{ item.mg_code }}</td>
                </tr>
                <tr>
                    <td>Product Hierarchy Code:</td>
                    <td>{{ item.ph_code }}</td>
                </tr>
                {% if item.additive != 'Yes' %}
                <tr>
                    <td>What Resin is mostly Used?:</td>
                    <td>{{ item.resin }}</td>
                </tr>
                <tr>
                    <td>Any Special Attributes (Fade Resist, Fluorescents, Low Copper):</td>
                    <td>{{ item.special_attribute }}</td>
                </tr>
                <tr>
                    <td>What Type of Special Requirements:</td>
                    <td>{{ item.special_requirement }}</td>
                </tr>
                <tr>
                    <td>Ink Type:</td>
                    <td>{{ item.ink_type }}</td>
                </tr>
                <tr>
                    <td>Color:</td>
                    <td>{{ item.color_type }}</td>
                </tr>
                <tr>
                    <td>Press:</td>
                    <td>{{ item.press }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock %}
