
{% extends 'base.html' %}
{% block title %}Create | Material Group Item{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
    <form method="post">

        {% csrf_token %}

        {% crispy form %}

    </form>    


{% endblock %}

